    html,body{  
        height: 100%;  
    }  

    #app1 { 
      background-color:; 
      height:100% ; 
      width:100%; 
      position:absolute;
    }

  .el-header, .el-footer {
    background-color: #D3DCE6;
    color: #333;
    text-align: left;
    line-height: 60px;
  }

  .el-header {
    font-size: 32px;
  }
  
  .el-aside {
    background-color: #D3DCE6;
    color: #333;
    text-align: left;
    line-height: 200px;
    height: 650px;
  }
  
  .el-main {
    background-color: #eeeeee;
    color: #333;
    text-align: left;
    height: 650px;
  }
  
  body > .el-container {
    margin-bottom: 40px;
  }
  
  .el-container:nth-child(5) .el-aside,
  .el-container:nth-child(6) .el-aside {
    line-height: 260px;
  }
  
  .el-container:nth-child(7) .el-aside {
    line-height: 320px;
  }

/* */
    .el-menu {
        height: 95%;
    }

    .searchView {
        width: 90%;
    }

    /*#searchTPL {
        width: 600px;  
    }*/
    /*#searchBox {
        width: 80%;
    }*/

    #showSearchText {
        width: 90%;
        font-size: 24px;
    }

    .el-date-picker {
       
    }

    .el-input {
        
    }

