/* webkit 修改webkit内核浏览器的滚动条*/
/*::-webkit-scrollbar{
  display:none;
}*/
::-webkit-scrollbar {
    width: 3px;
    height: 1px;
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px #0593D3;
    background: #0593D3;
}

html, body {  
    height: 100%;
    width:100%; 
    margin: 0; 
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}  

#app1 { 
    /*height:100% ; */
    width:100%; 
    position:absolute;
    display: flex;
    min-height: 100vh;
    /*flex-direction: column;*/
}

.el-header {
    background-color: #0593D3; /*E4EDE6,E6EFE0,66b1ff,409EFF*/
    color: #FFFFFF;
    text-align: left;
    line-height: 60px;
    font-size: 26px;
    margin: 6px 0 5px 0;
}

.el-footer {
    background-color: #0593D3; 
    color: #FFFFFF;
    text-align: center;
    padding: 10px 0;
    font-size: 12px;
    margin: 5px 0 6px 0;
}
  
.el-aside {
    background-color: #D3DCE6; /*D3DCE6*/
    color: #333;
    text-align: left;
    /*line-height: 200px;*/
    margin: 0 5px 0 5px; 
    overflow: hidden;
}
  
.el-main {
    background-color: #f9f9f9;
    color: #333;
    text-align: left;
    margin: 0 10px 0 0; 
    flex:1;
}
  
/*body > .el-container {
    margin-bottom: 40px;
}*/
  
.el-container:nth-child(5) .el-aside,
.el-container:nth-child(6) .el-aside {
    line-height: 260px;
}
.el-container:nth-child(7) .el-aside {
    line-height: 320px;
}

#aside {
    height: 100%;
}

#footer {
}
    
.el-menu {
    height: 100%;
    /*overflow: hidden;*/
}

#searchView {
    width: 60%;
    margin: auto;
}

#searchBox {
    border-width: 3px;
}

#showSearchText {
    font-size: 20px;
    border-width: 3px;
    border-style: dotted;
    border-color: #EFEFEF;
    height: 100px;
    overflow: hidden;
}

#addView {
    width: 60%;
    margin: auto;
}

#checkView {
    width: 80%;
    margin: auto;
}



